USE [MyFavorRepos]
GO
/****** Object:  Table [dbo].[UserFavorRepos]    Script Date: 2021/6/25 16:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavorRepos](
	[UserID] [int] NULL,
	[RepoID] [int] NULL
) ON [PRIMARY]

GO
